/*
   Import partials below
*/
@import './normalize.scss';
@import './constatnts/constants';
@import './utils/utils';
@import './base';
@import './components/container';
@import './components/section-title';
@import './components/section-work';
@import './components/section-description';
@import './components/components';
@import './components/site-section';
@import './components/hamburger-menu';
@import './components/header';
@import './components/page_work';
@import './components/page_contacts';
@import './components/portfolio';
@import './components/portfolio-images';
@import './components/section-contacts';
@import './components/address';
@import './components/footer';
