.contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.address-details {
  width: 510px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.address-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

}

.address__title {
  font-size: 30px;
  font-family: "Lato Light";
  color: rgb(255, 255, 255);
  line-height: 1;
  margin-bottom: 30px;

}

.company-name {
  font-size: 20px;
  font-family: "Lato";
  color: rgb(192, 223, 218);
  font-weight: bold;
  line-height: 0.84;
  margin-bottom: 20px;
}

.company-address {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.313;

}

.contact-item {
  list-style: none;
}

.communication-method {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(208, 239, 234);
  line-height: 1.313;
  display: inline-block;
  width: 70px;

}

.communication-method__details {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 1.313;

  &--email {
    text-decoration: underline;
  }
}

.form-feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__textarea {
    border-radius: 4px;
    background-color: rgb(104, 160, 151);
    width: 540px;
    height: 159px;
    border: none;
    resize: none;
    padding-left: 20px;
    padding-top: 10px;

    &::placeholder {
      font-size: 16px;
      font-family: "Lato";
      color: rgb(130, 200, 189);
      line-height: 1.313;

    }
  }
}

.feedback-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  margin-bottom: 30px;
}

.name_email {
  display: flex;
  justify-content: space-between;
}

.input__name {
  border-radius: 4px;
  background-color: rgb(104, 160, 151);
  border: none;
  width: 260px;
  height: 40px;

  &::placeholder {
    font-size: 16px;
    font-family: "Lato";
    color: rgb(130, 200, 189);
    line-height: 1.313;
    padding-left: 20px;
  }
}

.input__email {
  border-radius: 4px;
  background-color: #68a097;
  width: 260px;
  height: 40px;
  border: none;
  padding-left: 20px;

  &::placeholder {
    font-size: 16px;
    font-family: "Lato";
    color: rgb(130, 200, 189);
    line-height: 1.313;
  }
}

input,
textarea {
  transition: .2s linear;

  &:focus {
    background: #f6f6f6;
  }
}

.button_sendfeedback {
  border: none;
  border-radius: 4px;
  background-color: rgb(223, 92, 100);
  box-shadow: inset 0px -4px 0px 0px rgba(178, 74, 80, 0.5);
  width: 260px;
  height: 50px;
  margin: 0 auto;
  font-size: 26px;
  font-family: "Lato Black";
  color: rgb(255, 255, 255);
  line-height: 0.808;
  text-transform: uppercase;

}

@media screen and (max-width: 1100px) {
  .contacts {
    flex-direction: column;
  }

  .feedback,
  .address {
    margin: 0 auto;
  }

  .address {
    width: 540px;
    margin-bottom: 40px;
  }

  .address-details {
    width: 540px;
  }

}

@media screen and (max-width: 590px) {
  .address {
    width: 260px;
  }

  .address__title {
    text-align: center;
  }

  .address img {
    display: none;
  }

  .address-details {
    width: 260px;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .contact-list {
    margin-bottom: 20px;
  }

  .name_email {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    & .input__name {
      margin-bottom: 20px;
    }
  }

  .form-feedback__textarea {
    width: 260px;
  }
}
