.page_work {
    background-image: url('../../images/layer_work.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    max-width: auto;
}