.page-home {
  @extend %page__background--responsive;

  background-image: url('../../images/bg-home-pic@1X.png'),
    url('../images/bg-home@1X.png');

  .nav-item:nth-of-type(1) {
    border-radius: 0 0 5px 5px;
    background-color: rgba(256, 256, 256, 0.3);
  }
}

.section-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
