.page_contacts {
    background-image: url('../../images/layer_contacts.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    max-width: auto;
}

.section-contacts {
    
}