.social-icons-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #000;   /*DELETE LATER*/

  &__item {
    fill: $color__social-icons--face;
  }
}
